#header {
    width : 100%;
    height : 300px;
    text-align: center;
    .title {
        display: inline-block;
        margin : 100px auto 0 auto;
        > h1 {
            text-align: left;
        }
    }
}